<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Signals</title>
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/popup.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    @RenderBody()
    @RenderSection("Scripts", false )
</body>
</html>
